body {
    background-color: rgb(240, 136, 8);
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.main-h1 {
    text-align: center;    
    color: bisque;
    background-color: black;
}
.main-h3 {
    
    text-align: center;
}
.main-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.description {
    font-style:italic;
}
ul {
    list-style: none;
    text-align: center;
    padding: 8px;
    
}
li {
    display: inline;
    margin: 0 15px;
}
#content {
    margin: 0 auto;
    width: 1000px;
    background-color: blanchedalmond;
}
/* {
    border: 1px solid black;
}*/


